image: debian

variables:
  ARDUINO_VERSION: 1.8.5
  ENERGIA_VERSION: 1.6.10E18
  SHARE_PATH: /usr/local/share
  BIN_PATH: /usr/local/bin
  GIT_SUBMODULE_STRATEGY: recursive

buildTests:Arduino:
  stage: build
  before_script:
    - apt update && apt -y install build-essential git xvfb wget xz-utils libxext6 libxtst6 libxrender1 libgtk2.0.0 default-jre
    - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
    - sleep 3
    - export DISPLAY=:1.0
    - wget --quiet http://downloads.arduino.cc/arduino-${ARDUINO_VERSION}-linux64.tar.xz
    - tar xf arduino-${ARDUINO_VERSION}-linux64.tar.xz
    - mv arduino-${ARDUINO_VERSION} ${SHARE_PATH}/arduino
    - ln -s ${SHARE_PATH}/arduino/arduino ${BIN_PATH}/
    - git clone https://github.com/Seeed-Studio/Grove_Digital_Light_Sensor.git
    - git clone https://github.com/Seeed-Studio/Grove_Chainable_RGB_LED.git
    - git clone https://github.com/Seeed-Studio/Grove_Air_quality_Sensor.git
    - git clone https://github.com/mmurdoch/arduinounit.git
    - git clone https://github.com/adafruit/Adafruit_Sensor.git
    - git clone https://github.com/rweather/arduinolibs.git
    - git clone https://github.com/adafruit/Adafruit_TSL2561.git
    - git clone -b testing https://github.com/arkhipenko/TaskScheduler.git
    - ln -s $PWD/Grove_Digital_Light_Sensor ${SHARE_PATH}/arduino/libraries/Grove_Digital_Light_Sensor
    - ln -s $PWD/Grove_Chainable_RGB_LED ${SHARE_PATH}/arduino/libraries/Grove_Chainable_RGB_LED
    - ln -s $PWD/Grove_Air_quality_Sensor ${SHARE_PATH}/arduino/libraries/Grove_Air_quality_Sensor
    - ln -s $PWD/ArduinoJson ${SHARE_PATH}/arduino/libraries/ArduinoJson
    - ln -s $PWD/arduinounit ${SHARE_PATH}/arduino/libraries/ArduinoUnit
    - ln -s $PWD/Adafruit_Sensor ${SHARE_PATH}/arduino/libraries/Adafruit_Sensor
    - ln -s $PWD/arduinolibs/libraries/Crypto ${SHARE_PATH}/arduino/libraries/Crypto
    - ln -s $PWD/Adafruit_TSL2561 ${SHARE_PATH}/arduino/libraries/Adafruit_TSL2561
    - ln -s $PWD/TaskScheduler ${SHARE_PATH}/arduino/libraries/TaskScheduler
    - ln -s $PWD ${SHARE_PATH}/arduino/libraries/AtHome
    - arduino --install-library "Adafruit NeoPixel"
    - arduino --install-boards arduino:sam
    - arduino --install-boards arduino:samd
    # - arduino --install-boards chipKIT:pic32
    - mkdir -p $PWD/test/output/avr/uno # test the most classical arduino
    - mkdir -p $PWD/test/output/avr/leonardo # test avr based arduino with native usb port
    - mkdir -p $PWD/test/output/arm/zero # test official arm cortex m0+ board
    - mkdir -p $PWD/test/output/arm/due # test official arm cortex m3 board
    # - mkdir -p $PWD/test/output/pic32/fubarino_mini # test pic32mx250 based board
    - mkdir -p $PWD/test/output/IDisplay_tests
  script:
    - arduino --verify --board arduino:avr:uno $PWD/test/simple_a/simple_a.ino --preserve-temp-files --pref build.path=$PWD/test/output/avr/uno/simple_a/
    - arduino --verify --board arduino:avr:leonardo $PWD/test/simple_a/simple_a.ino --preserve-temp-files --pref build.path=$PWD/test/output/avr/leonardo/simple_a/
    - arduino --verify --board arduino:samd:arduino_zero_edbg $PWD/test/simple_a/simple_a.ino --preserve-temp-files --pref build.path=$PWD/test/output/arm/zero/simple_a/
    - arduino --verify --board arduino:sam:arduino_due_x $PWD/test/simple_a/simple_a.ino --preserve-temp-files --pref build.path=$PWD/test/output/arm/due/simple_a/
    - arduino --verify --board arduino:avr:uno $PWD/test/simple_b/simple_b.ino --preserve-temp-files --pref build.path=$PWD/test/output/avr/uno/simple_b/
    - arduino --verify --board arduino:avr:leonardo $PWD/test/simple_b/simple_b.ino --preserve-temp-files --pref build.path=$PWD/test/output/avr/leonardo/simple_b/
    - arduino --verify --board arduino:samd:arduino_zero_edbg $PWD/test/simple_b/simple_b.ino --preserve-temp-files --pref build.path=$PWD/test/output/arm/zero/simple_b/
    - arduino --verify --board arduino:sam:arduino_due_x $PWD/test/simple_b/simple_b.ino --preserve-temp-files --pref build.path=$PWD/test/output/arm/due/simple_b/
    # - arduino --verify --board chipKIT:pic32:fubarino_mini $PWD/test/1/main.ino --preserve-temp-files --pref build.path=$PWD/test/output/pic32/fubarino_mini/
    - arduino --verify --board arduino:avr:mega $PWD/test/IDisplay_tests/IDisplay_tests.ino --preserve-temp-files --pref build.path=$PWD/test/output/IDisplay_tests
  artifacts:
    paths:
      - "test/output"

buildTests:Energia:
  stage: build
  allow_failure: yes
  before_script:
    - apt update && apt -y install build-essential git xvfb wget xz-utils libxext6 libxtst6 libxrender1 libgtk2.0.0 default-jre
    - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
    - sleep 3
    - export DISPLAY=:1.0
    - wget --quiet -O energia-${ENERGIA_VERSION}-linux64.tar.xz http://energia.nu/downloads/downloadv4.php?file=energia-${ENERGIA_VERSION}-linux64.tar.xz
    - tar xf energia-${ENERGIA_VERSION}-linux64.tar.xz
    - mv energia-${ENERGIA_VERSION} ${SHARE_PATH}/energia
    - git clone https://github.com/Seeed-Studio/Grove_Digital_Light_Sensor.git
    - git clone https://github.com/Seeed-Studio/Grove_Chainable_RGB_LED.git
    - git clone https://github.com/Seeed-Studio/Grove_Air_quality_Sensor.git
    - git clone https://github.com/mmurdoch/arduinounit.git
    - git clone https://github.com/adafruit/Adafruit_Sensor.git
    - git clone https://github.com/rweather/arduinolibs.git
    - git clone https://github.com/adafruit/Adafruit_TSL2561.git
    - git clone -b testing https://github.com/arkhipenko/TaskScheduler.git
    - ln -s $PWD/Grove_Digital_Light_Sensor ${SHARE_PATH}/energia/libraries/Grove_Digital_Light_Sensor
    - ln -s $PWD/Grove_Chainable_RGB_LED ${SHARE_PATH}/energia/libraries/Grove_Chainable_RGB_LED
    - ln -s $PWD/Grove_Air_quality_Sensor ${SHARE_PATH}/energia/libraries/Grove_Air_quality_Sensor
    - ln -s $PWD/ArduinoJson ${SHARE_PATH}/energia/libraries/ArduinoJson
    - ln -s $PWD/arduinounit ${SHARE_PATH}/energia/libraries/ArduinoUnit
    - ln -s $PWD/Adafruit_Sensor ${SHARE_PATH}/energia/libraries/Adafruit_Sensor
    - ln -s $PWD/arduinolibs/libraries/Crypto ${SHARE_PATH}/energia/libraries/Crypto
    - ln -s $PWD/Adafruit_TSL2561 ${SHARE_PATH}/energia/libraries/Adafruit_TSL2561
    - ln -s $PWD/TaskScheduler ${SHARE_PATH}/energia/libraries/TaskScheduler
    - ln -s $PWD ${SHARE_PATH}/energia/libraries/AtHome
    - ln -s ${SHARE_PATH}/energia/energia ${BIN_PATH}/
    # - energia --install-boards energia:msp430
    - energia --install-boards energia:msp432
    - git clone https://github.com/adafruit/Adafruit_NeoPixel.git
    - ln -s $PWD/Adafruit_NeoPixel ${SHARE_PATH}/energia/libraries/Adafruit_NeoPixel
    # - energia --install-library "Adafruit NeoPixel"
    # - cp $PWD/test/platforms/msp432/platform.txt ~/.energia15/packages/hardware/msp432/3.8.0/platform.txt
    # - mkdir -p $PWD/test/output/msp430/launchpad_fr2433 # test msp430fr2433 board
    - mkdir -p $PWD/test/energia/output/msp432 # test msp432 board, it's an arm cortex m4f
  script:
    # - energia --verify --board energia:msp432:MSP-EXP432P401R $PWD/test/1/1.ino --preserve-temp-files --pref build.path=$PWD/test/energia/output/msp432/1/
    # - energia --verify --board energia:msp432:MSP-EXP432P401R $PWD/test/2/2.ino --preserve-temp-files --pref build.path=$PWD/test/energia/output/msp432/2/
    - echo "energia get stuck while compiling sketches... need to find a way to fix this bug"
  artifacts:
    paths:
      - "test/energia/output"

buildExamples:Arduino:
  stage: build
  allow_failure: yes
  before_script:
    - apt update && apt -y install build-essential git xvfb wget xz-utils libxext6 libxtst6 libxrender1 libgtk2.0.0 default-jre
    - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
    - sleep 3
    - export DISPLAY=:1.0
    - wget --quiet http://downloads.arduino.cc/arduino-${ARDUINO_VERSION}-linux64.tar.xz
    - tar xf arduino-${ARDUINO_VERSION}-linux64.tar.xz
    - mv arduino-${ARDUINO_VERSION} ${SHARE_PATH}/arduino
    - ln -s ${SHARE_PATH}/arduino/arduino ${BIN_PATH}/
    - git clone https://github.com/Seeed-Studio/Grove_Digital_Light_Sensor.git
    - git clone https://github.com/pjpmarques/ChainableLED.git
    - git clone https://github.com/Seeed-Studio/Grove_Air_quality_Sensor.git
    - git clone https://github.com/bblanchon/ArduinoJson.git
    - git clone https://github.com/mmurdoch/arduinounit.git
    - git clone https://github.com/adafruit/Adafruit_Sensor.git
    - git clone https://github.com/rweather/arduinolibs.git
    - git clone https://github.com/adafruit/Adafruit_TSL2561.git
    - git clone -b testing https://github.com/arkhipenko/TaskScheduler.git
    - ln -s $PWD/Grove_Digital_Light_Sensor ${SHARE_PATH}/arduino/libraries/Grove_Digital_Light_Sensor
    - ln -s $PWD/ChainableLED ${SHARE_PATH}/arduino/libraries/ChainableLED
    - ln -s $PWD/Grove_Air_quality_Sensor ${SHARE_PATH}/arduino/libraries/Grove_Air_quality_Sensor
    - ln -s $PWD/ArduinoJson ${SHARE_PATH}/arduino/libraries/ArduinoJson
    - ln -s $PWD/arduinounit ${SHARE_PATH}/arduino/libraries/ArduinoUnit
    - ln -s $PWD/Adafruit_Sensor ${SHARE_PATH}/arduino/libraries/Adafruit_Sensor
    - ln -s $PWD/arduinolibs/libraries/Crypto ${SHARE_PATH}/arduino/libraries/Crypto
    - ln -s $PWD/Adafruit_TSL2561 ${SHARE_PATH}/arduino/libraries/Adafruit_TSL2561
    - ln -s $PWD/TaskScheduler ${SHARE_PATH}/arduino/libraries/TaskScheduler
    - ln -s $PWD ${SHARE_PATH}/arduino/libraries/AtHome
    - arduino --install-library "Adafruit NeoPixel"
    - arduino --install-boards arduino:sam
    - arduino --install-boards arduino:samd
    # - arduino --install-boards chipKIT:pic32
    - mkdir -p $PWD/examples/output/avr/uno # test the most classical arduino
    - mkdir -p $PWD/examples/output/avr/leonardo # test avr based arduino with native usb port
    - mkdir -p $PWD/examples/output/arm/zero # test official arm cortex m0+ board
    - mkdir -p $PWD/examples/output/arm/due # test official arm cortex m3 board
    # - mkdir -p $PWD/examples/output/pic32/fubarino_mini # test pic32mx250 based board
  script:
    - arduino --verify --board arduino:avr:uno $PWD/examples/HelloWorld/HelloWorld.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/uno/HelloWorld/
    - arduino --verify --board arduino:avr:leonardo $PWD/examples/HelloWorld/HelloWorld.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/leonardo/HelloWorld/
    - arduino --verify --board arduino:samd:arduino_zero_edbg $PWD/examples/HelloWorld/HelloWorld.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/zero/HelloWorld/
    - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/HelloWorld/HelloWorld.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/due/HelloWorld/
    - arduino --verify --board arduino:avr:uno $PWD/examples/ModuleDemo/ModuleDemo.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/uno/ModuleDemo/
    - arduino --verify --board arduino:avr:leonardo $PWD/examples/ModuleDemo/ModuleDemo.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/leonardo/ModuleDemo/
    - arduino --verify --board arduino:samd:arduino_zero_edbg $PWD/examples/ModuleDemo/ModuleDemo.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/zero/ModuleDemo/
    - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/ModuleDemo/ModuleDemo.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/due/ModuleDemo/
    - arduino --verify --board arduino:avr:uno $PWD/examples/LuminosityModule/LuminosityModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/uno/LuminosityModule/
    - arduino --verify --board arduino:avr:leonardo $PWD/examples/LuminosityModule/LuminosityModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/leonardo/LuminosityModule/
    # TODO: Allow compilation again for ARM based boards for Luminosity Modules (currently prevented by header protections)
    # - arduino --verify --board arduino:samd:arduino_zero_edbg $PWD/examples/LuminosityModule/LuminosityModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/zero/LuminosityModule/
    # - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/LuminosityModule/LuminosityModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/due/LuminosityModule/
    - arduino --verify --board arduino:avr:uno $PWD/examples/SoundModule/SoundModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/uno/SoundModule/
    - arduino --verify --board arduino:avr:leonardo $PWD/examples/SoundModule/SoundModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/leonardo/SoundModule/
    - arduino --verify --board arduino:samd:arduino_zero_edbg $PWD/examples/SoundModule/SoundModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/zero/SoundModule/
    - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/SoundModule/SoundModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/due/SoundModule/
    - arduino --verify --board arduino:avr:uno $PWD/examples/GasModule/GasModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/uno/GasModule/
    - arduino --verify --board arduino:avr:leonardo $PWD/examples/GasModule/GasModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/avr/leonardo/GasModule/
    - arduino --verify --board arduino:samd:arduino_zero_edbg $PWD/examples/GasModule/GasModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/zero/GasModule/
    - arduino --verify --board arduino:sam:arduino_due_x $PWD/examples/GasModule/GasModule.ino --preserve-temp-files --pref build.path=$PWD/examples/output/arm/due/GasModule/
  artifacts:
    paths:
      - "examples/output"

buildExamples:Energia:
  stage: build
  allow_failure: yes
  script:
    - echo "Not yet implemented"
  artifacts:
    paths:
      - "examples/output"

# run tests using the binary built before
test:
  stage: test
  before_script:
    - apt-get update && apt-get install -y libelf-dev gcc-avr avr-libc freeglut3-dev elfutils libelf1 libglib2.0-dev gdb-avr python3 python3-pip psmisc
    - pip3 install PyQt5
    - export LD_LIBRARY_PATH=$PWD/extras/simulator/linux_x64
    - export PATH="$PATH:$PWD/extras/simulator/linux_x64:$PWD/extras/scripts:$PWD/extras/scripts/middleware"
    - chmod +x $PWD/extras/scripts/*
    - chmod +x $PWD/extras/scripts/middleware/*
    - chmod +x $PWD/extras/simulator/linux_x64/simulator
  script:
    - athome_test $PWD/test/output/avr/uno/simple_a/simple_a.ino.hex
    - athome_test $PWD/test/output/avr/uno/simple_b/simple_b.ino.hex
    # - ./simavr/simavr/run_avr -m atmega328p -f 16000000 $PWD/test/output/avr/uno/1.ino.hex
  artifacts:
    paths:
      - "*.log"

unitTest:
  stage: test
  allow_failure: yes
  before_script:
    - apt-get update && apt-get install -y libelf-dev gcc-avr avr-libc freeglut3-dev elfutils libelf1 libglib2.0-dev gdb-avr python3 python3-pip psmisc
    - export LD_LIBRARY_PATH=$PWD/extras/simulator/mega2560_linux_x64
    - export PATH=$PATH:$PWD/extras/simulator/mega2560_linux_x64
    - chmod +x $PWD/extras/simulator/mega2560_linux_x64/
  script:
    - mega2560 $PWD/test/output/unit/unit.ino.hex &
    - cat /dev/pts/0 > $PWD/test/output/unit/out.log &
    - sleep 10
    - killall mega2560
  artifacts:
    paths:
      - "test/output"

deploy:
  stage: deploy
  script:
    - mkdir AtHome
    - cp -r src examples LICENSE *.md library.* Doxyfile AtHome
    - echo "Need to implement release on a server"
  artifacts:
    paths:
      - "AtHome"

pages:
  stage: deploy
  when: always
  allow_failure: yes
  before_script:
    - apt-get update && apt-get install -y doxygen graphviz
  script:
    - rm -rf doc/html doc/latex
    - doxygen Doxyfile
    - mv doc/html public
    - mv doc/assets/* public/
  artifacts:
    paths:
      - "public"
  only:
    - "master"
